@model IEnumerable<FourthTask.Mvc.Models.CustomerListVM>

@{
    ViewBag.Title = "Customers List";
}

<div class="row" id="app">
    <div class="row">
        <div class="form form-inline col-md-8">
            <input placeholder="Search by name" class="form-control" type="text" id="search-term" />
            <button class="btn btn-primary" id="search-btn">Search</button>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Orders</th>
                        </tr>
                    </thead>
                    <tfoot></tfoot>
                    <tbody>
                        @foreach (var customer in @Model)
                        {
                            <tr>
                                <td>@Html.ActionLink(customer.ContactName, "CustomerDetails", new { id = customer.CustomerId })</td>
                                <td>@customer.OrdersCount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var termField = $('#search-term');

            var oldHref = window.location.href;
            if (oldHref.indexOf('?term=') >= 0) {
                termField.val(oldHref.split('?term=')[1]);
            } else {
                termField.val('');
            }

            $('#search-btn').click(function () {
                if (termField.val()) {
                    window.location.href = '/Home?term=' + termField.val();
                } else {
                    window.location.href = '/Home';
                }
            });
        });
    </script>
}

